body {
    margin: 15px; /* Añadí "px" a la propiedad margin */
    padding: 0;
}

h1 {
    width: 100%;
    height: 10vh;
    background-color: #efea9d;
    color: #fff;
    text-align: center;
    line-height: 10vh;
    border-radius: 10px; 
    margin-bottom: 3%;
}

.container {
    height: 90vh;
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color: #d3a5ad;
    border-radius: 10px; 
    margin-right: 3%;
    float: left; /* Usando float en lugar de flexbox */
}

.sidebar-content {
    width: 90%;
    height: 4%;
    text-align: center;
    background-color: #facbd7;
    margin: 5%;
    border-radius: 10px; 
}

.content {
    width: 70%;
    height: 100%;
    border-radius: 10px; 
    float: left; 
    margin-left: 2%; 
}

main {
    height: 84%;
    background-color: #b3f3b8;
    border-radius: 10px; 
}

.main-content {
    width: 96%;
    height: 5%;
    text-align: center;
    background-color: #d9f7d9;
    margin: 2%;
    border-radius: 10px; 
}

footer {
    height: 10%;
    background-color: #89a1d4;
    color: #fff;
    text-align: center;
    line-height: 10vh;
    border-radius: 10px; 
    margin-top: 3%;
    clear: both; 
}
